.people {
    padding-top: 80px;
}

a {
    text-decoration: none;
}

h2.center {
    text-align: center;
}

#peoples {
    text-align: center;
    padding-top: 20px;
}

#peoples img {
    width: 70%;
}

.money {
    font-size: 30px;
    padding: 25px;
}

.money-rest {
    font-size: 40px;
    padding: 30px;
    vertical-align: middle;
    height: 18px;
}

.dollar-sign {
    padding-top: 25px !important;
    font-size: 40px;
    width: 20px !important;
    color: #fff !important;
}

#partial-donation {
    height: 50px;
    font-size: 50px;
    text-align: right;
    margin-bottom: 4px;
    width: 130px;
}

#full-button {
    position: relative; 
    margin-top: 0px;
    top: -28px;
}

#partial-donation-form .controls label {
    width: 150px;
}

.hero-unit h1 {
    margin-bottom: 10px;
}

.donation-button {
    margin-left: 10px;
    width: 100%; 
    margin: 0;
}

.thumbnail {
    text-align: center;
    height: 200px;
    vertical-align: middle;
    padding: 10px;
    padding-left: 30px;
    background-color: #fff;
    border: 1px solid #2C3E50;
}

.thumbnail img {
    border: 0px solid #34495E;
}

.well {
    background-color: #2C3E50;
    color: #fff;
}

.thumbnail .times {
    position: relative;
}

.pad20l {
    padding-left:20px;
}

.pad30l-row {
    padding-left:30px;
}

.subtitle {
    font-size: 20px;
    padding: 20px;
    background-color: #2ECC71;
    margin-bottom: 20px;
}

label.error {
    padding: 0;
}

.number-wrap {
    padding-top: 72px;
    padding-bottom: 40px;
}

label.number {
    margin: 0;
    padding: 0;
    font-size: 100px;
    vertical-align: baseline;
    background: transparent;
}

.times {
    font-size: 32px;
    padding-top: 15px;
    min-height: 30px;
    margin: 10px;
}

.ui-slider {
    width: 120px;
}

.tooltip-inner {
    width: 110px;
}
 
