.people {
    padding-top: 80px;
}

h2.center {
    text-align: center;
}

#peoples {
    text-align: center;
    padding-top: 20px;
}

.money {
    font-size: 30px;
    padding: 25px;
}

.money-rest {
    font-size: 40px;
    padding: 30px;
    vertical-align: middle;
    height: 18px;
}

.dollar-sign {
    padding-top: 11px !important;
    font-size: 50px;
    height: 50px;
    width: 20px !important;
}

#partial-donation {
    height:40px; 
    font-size:35px;
    text-align: right;
    margin-bottom: 4px;
}

#partial-donation-form {
    height: 45px;
    padding: 10px;
}

.hero-unit h1 {
    margin-bottom: 10px;
}

.donation-button {
    margin-left: 10px;
}

.thumbnail {
    text-align: center;
}

.pad20l {
    padding-left:20px;
}

.pad30l-row {
    padding-left:30px;
}

.subtitle {
    font-size: 30px;
    padding: 20px;
    background-color: #007fff;
}

label.error {
    padding: 0;
}

.number-wrap {
    padding-top: 72px;
    padding-bottom: 72px;
}

label.number {
    margin: 0;
    padding: 0;
    font-size: 126.45416666666668px;
    vertical-align: baseline;
    background: transparent;
}

.row.center {
    margin: 0 auto;
}

.times {
    font-size: 45px;
    padding-top: 25px;
    min-height: 45px;
}

/*the slider background*/
.ui-slider {
    width: 180px;
    /*    background: #ef2929; */
    height:17px !important;
    background:url(/img/slider-bg-barv.png) !important;
    position:relative !important;
    margin:0 !important;
    padding:0px !important;
    border: 0px !important;
}
 
/*Style for the slider button*/
.ui-slider-handle {
    width:40px !important;
    height:40px !important;
    position:absolute !important;
    top:-14px !important;
    margin-left:-12px !important;
    z-index:200 !important;
    background:url(/img/slider-handle.png) !important;
}
 
/*This is the fill bar colour*/
.ui-widget-header {
    background:url(/img/slider-fill-bar.png) no-repeat left !important;
    height:14px !important;
    left:1px !important;
    top:1px !important;
    position:absolute !important;
}
