.people {
    padding-top: 80px;
}

h2.center {
    text-align: center;
}

#peoples {
    text-align: center;
    padding-top: 20px;
}

#peoples img {
    width: 70%;
}

.money {
    font-size: 30px;
    padding: 25px;
}

.money-rest {
    font-size: 40px;
    padding: 30px;
    vertical-align: middle;
    height: 18px;
}

.dollar-sign {
    padding-top: 25px !important;
    font-size: 74px;
    width: 30px !important;
}

#partial-donation {
    height: 64px;
    font-size: 50px;
    text-align: right;
    margin-bottom: 4px;
}

#partial-donation-form {
    padding-top: 30px;
    padding-left: 30px;
}

#full-button {
    position: relative; 
    margin-top: 0px;
    top: -28px;
}

.hero-unit h1 {
    margin-bottom: 10px;
}

.donation-button {
    margin-left: 10px;
}

.thumbnail {
    text-align: center;
    border: 2px solid #3fb618;
    height: 300px;
    vertical-align: middle;
}

.well {
    border: 2px solid #3fb618;
}

.pad20l {
    padding-left:20px;
}

.pad30l-row {
    padding-left:30px;
}

.subtitle {
    font-size: 20px;
    padding: 20px;
    background-color: #007fff;
    margin-bottom: 20px;
}

label.error {
    padding: 0;
}

.number-wrap {
    padding-top: 72px;
    padding-bottom: 40px;
}

label.number {
    margin: 0;
    padding: 0;
    font-size: 100px;
    vertical-align: baseline;
    background: transparent;
}

.times {
    font-size: 32px;
    padding-top: 15px;
    min-height: 30px;
    margin: 10px;
}

/*the slider background*/
.ui-slider {
    width: 120px;
    /*    background: #ef2929; */
    height:17px !important;
    background:url(/img/slider-bg-barv.png) !important;
    position:relative !important;
    margin:0 !important;
    padding:0px !important;
    border: 0px !important;
}
 
/*Style for the slider button*/
.ui-slider-handle {
    width:40px !important;
    height:40px !important;
    position:absolute !important;
    top:-14px !important;
    margin-left:-12px !important;
    z-index:200 !important;
    background:url(/img/slider-handle.png) !important;
}
 
/*This is the fill bar colour*/
.ui-widget-header {
    background:url(/img/slider-fill-bar.png) no-repeat left !important;
    height:14px !important;
    left:1px !important;
    top:1px !important;
    position:absolute !important;
}
